.dashboard{
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 1500px) {
    .dashboard {
      align-items: stretch;
      /* flex-wrap: wrap; */
      flex-direction: column;
     justify-content: center;
    }
  }
  